name: ci

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write

concurrency:
  group: pages-deploy
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Cache MkDocs
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Restore cache
        uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material

      - name: Build site
        run: mkdocs build --clean

      - name: Add custom domain (CNAME)
        run: |
          echo "apv.metrostad.nl" > site/CNAME

      - name: Deploy to GitHub Pages (gh-pages)
        run: mkdocs gh-deploy --force --clean
